.about-us-container{
    margin-left: 100px;
    
}
.path{
	opacity: 50%;
	font-size: 14px;
	cursor: pointer;
	line-height: 1px;
}

.about{
	text-decoration: underline;
	text-decoration-color: white;
	color: #FFE799;
	line-height: 1;
}
.about:hover{
	text-decoration-color: #FFE799;
	cursor: pointer;

}

.image{
	border-radius: 40px;
	height: 350px;
	width: 700px;
	border: 2px solid #8F4747;
    margin-bottom: 50px;
    margin-top: 50px;
	margin-left: 300px;
}

.firstP{
	margin-right: 200px;
    margin-bottom: 50px;
    font-weight: bold;
	margin-left: 100px;

}

.secondP{
	margin-right: 200px;
	font-weight: bold;
	text-align: justify;
	margin-left: 100px;

}

h2{
	line-height: 0.5;
    padding-bottom: 40px;
	margin-left: 100px;

}