.product-display-whole-container {
	max-width: 1200px;
	margin: auto;
}
.product-display-container {
	display: flex;
	gap: 50px;
}

.product-item-name p {
	font-weight: 900;
}
.flex-horizontal {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px 30px;
}
.product-display-img-container img {
	height: 450px;
	width: 600px;
}
.desc-list {
	list-style: none;
	margin-top: 10px;
	padding-left: 10px;
}
.btn {
	width: 100%;
}
.product-display-container .product-item-price {
	margin: 20px 0;
	font-size: 20px;
}
.product-display-container .product-stock-checker {
	margin: 10px 0;
}
.product-display-container .review-rating {
	margin: 100px 0 0 450px;
}
.promos-container img {
	width: 90%;
}
.product-display-whole-container .category-container {
	margin-bottom: 20px;
}
.product-display-whole-container .category-container .right-icon {
	margin: 0 10px 0 20px;
}
.input-group-text{
	background-color: #FFE799;
}
.drop-rating{
	margin-top: 30px;
	margin-left: 77px;
	
}
.form-floating{
	margin-bottom: 30px;
}

/* For reviews and rating */
.container{
	position: relative;
	width: 400px;
	background: #111;
	padding: 20px 30px;
	border: 1px solid #444;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 60px 40px 11rem 25rem;
  }
 .viewer{
	position: absolute;
	width: 800px;
	height: 330px;
	margin-left: 80px;
	color: #eee;


  }

  .container .post{
	display: none;
  }
  .container .text{
	font-size: 25px;
	color: #666;
	font-weight: 500;
  }
  .container .edit{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 16px;
	color: #666;
	font-weight: 500;
	cursor: pointer;
  }
  .container .edit:hover{
	text-decoration: underline;
  }
  .container .star-widget input{
	display: none;
  }
  .star-widget label{
	font-size: 40px;
	color: #444;
	padding: 10px;
	float: right;
	transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
  }
  input:checked ~ label{
	color: #fd4;
  }
  input#rate-5:checked ~ label{
	color: #fe7;
	text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
	content: "I just hate it ";
  }
  #rate-2:checked ~ form header:before{
	content: "I don't like it ";
  }
  #rate-3:checked ~ form header:before{
	content: "It is awesome ";
  }
  #rate-4:checked ~ form header:before{
	content: "I just like it ";
  }
  #rate-5:checked ~ form header:before{
	content: "I just love it ";
  }
 
  input:checked ~ form{
	display: block;
  }
  form header{
	width: 100%;
	font-size: 25px;
	color: #fe7;
	font-weight: 500;
	margin: 5px 0 20px 0;
	text-align: center;
	transition: all 0.2s ease;
  }
  form .textarea{
	height: 100px;
	width: 100%;
	overflow: hidden;
  }
  form .textarea textarea{
	height: 100%;
	width: 100%;
	outline: none;
	color: #eee;
	border: 1px solid #333;
	background: #222;
	padding: 10px;
	font-size: 17px;
	resize: none;
  }
  .textarea textarea:focus{
	border-color: #444;
  }
  form .btn{
	height: 45px;
	width: 100%;
	margin: 15px 0;
  }
  form .btn button{
	height: 100%;
	width: 100%;
	border: 1px solid #444;
	outline: none;
	background: #222;
	color: #999;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  form .btn button:hover{
	background: #1b1b1b;
  }
